* {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

a {
	text-decoration: none;
}

div#topBar {
	overflow: hidden;
	background-color: rgb(39, 65, 88);
	p#breadcrumbs {
		float: left;
		margin: 6px 24px 6px 24px;
	}
	ul#ddMain {
		float: right;
		margin: 0px;
		padding: 0px;
		&> li {
			display: inline-block;
			text-align: left;
			margin: 6px 24px 6px 24px;
			transition: 0.3s;
			border-style: solid;
			border-width: 0px 0px 0px 1px;
			border-color: rgb(53, 79, 103);
		}
		ul.ddMenu {
			display: none;
			padding: 0px;
			margin: 0px;
		}
		li:hover ul.ddMenu {
			display: block;
			position: absolute;
			overflow: auto;
			width: 150px;
			background-color: rgb(39, 65, 88);
			li {
				box-sizing: border-box;
				list-style-type: none;
				display: block;
				padding: 4px 8px 4px 8px;
				width: 100%;
				&:hover {
					background-color: rgb(58, 84, 108);
				}
			}
		}
	}
}
